body {
    font-family: Arial, sans-serif;
    background-color: #D3D3D3;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #333;
    font-size: 28px;
    text-align: center;
}

p {
    color: #666;
    font-size: 16px;
}

.photos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.photo {
    margin: 30px;
    border: 5px solid #999;
    width: 300px;
    height: 300px;
    object-fit: cover;
}


